*{
	outline: none;
    list-style:none;
}

body{
	background-color: #dfdfdf;
    background-image: linear-gradient(to bottom, #dddbd1, #d2dbdc);
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    color: #4b4b4b;
    text-rendering: optimizeLegibility;
}

#header{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 222px;
    content: '';
    top: 0;
    background-color: #009688;
    left: 0;
}

#home{
	background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    margin: 68px 90px 64px 90px;
    background-color: #f6f8f8;
    padding: 35px 82px;
    width: 710px;
    margin: 0px auto;
    position: relative;
    top: 200px;
}

.form{
	width: 100%;
	position: relative;
	border-bottom: 1px solid #ccc;
	padding: 5px;
}

.form input{
	width: 100%;
	height: 25px;
	border: none;
	padding: 10px;
	position: relative;
	color: #000;
	font-size: 18px;
	background: #e5e5e5;
	box-shadow: 1px 1px rgba(0,0,0,.10);
	margin-top: 10px;
	margin-bottom: 20px;
}

.form span{
	font-size: 21px;
}

.form a{
	text-decoration: none;
	color: #009688;
}

.form a:hover{
	text-decoration: underline;
}

.btn{
	width: auto;
	background: #e5e5e5;
	width: 100px;
	padding: 10px;
	font-size: 20px;
	position: relative;
	top: 5px;
	cursor: pointer;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.30);
	text-align: center;
}

.btn:hover{
	background: #e9e9e9;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.40);
}

#resposta{
	background: #960000;
	width: 100%;
	height: inherit;
	position: relative;
	color: #fff;
	text-align: center;
	font-size: 20px;
}

#chat{
	background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.left{
	float: left;
}

.menu{
	position: relative;
	width: 23%;
	height: 100%;
	background: #fff;
	border-right: 2px solid rgba(0, 0, 0, .10);
	z-index: 50;
}

.toper{
	position: fixed;
	top: 0;
	background: #fff;
	height: 55px;
	border-bottom: 1px solid rgba(0, 0, 0, .10);
	width: 100%;
	z-index: 40;
}

.status{
	width: 100%;
	height: 55px;
	position: absolute;
	top: 0;
	z-index: 20;
	text-align: center;
	border-bottom: 1px solid rgba(0, 0, 0, .10);
}

#p{
	font-weight: 900;
	padding: 0px;
	position: relative;
	top: 15px;
}

.search{
	width: 100%;
	height: 100%;
	background: #fff;
	top: 55px;
	position: relative;
}

.search input{
	width: 100%;
	border: none;
	text-align: center;
	transition: 1.4s;
	font-size: 15px;
	background: transparent;
	padding-bottom: 10px;
	padding-top: 20px;
}

.search input:focus{
	text-align: left;
	padding-left: 10px;
}

.peoples{
	width: 100%;
	height: 60px;
	position: relative;
	top: 10px;
	cursor: pointer;
	padding-bottom: 5px;
}

.peoples:hover{
	background: rgba(0, 0, 0, .10);
}

.peoples span{
	position: relative;
	top: -47px;
	left: 65px;
}

#aosa{
	width: 48px;
	height: 48px;
	margin: 10px;
	position: relative;
	top: 5px;
}

#aosa img{
	width: 100%;
	height: 100%;
}

.searchp{
	margin-top: 00px;
	border-top: 1px solid transparent;
}

.friends{
	background-image: url(/img/icons.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -63px;
    opacity: .6;
    height: 24px;
    width: 24px;
    position: relative;
    z-index: 10;
    top: 15px;
    float: right;
    right: 20px;
}

.friends:hover{
	opacity: 1;
	 background-position: 0 -38px;
}


.peoplechat{
	text-align: center;
}

#chat a{
	color: #000;
	text-decoration: none;
}

.centermsg{
	background: #fff;
	position: relative;
	height: 100%;
	width: 48%;
	z-index: 200;
	float: left;
	z-index: 10;
	top: 0px;
	border-right: 2px solid rgba(0, 0, 0, .10);
}

.bottommsg{
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 100%;
	border-top: 1px solid rgba(0, 0, 0, .10);
	background: #fff;
}

.msgtoper{
	position: relative;
	top: 55px;
}

.eumandei{
	float: right;
}

.eumandeiback{
	background: #e0111182 !important;
	border-radius: 40px;
	border-top-left-radius: 1.4em;
}

.eumandeiback span{
	color: #fff;
}

#wrapper{
	position: relative;
    white-space: pre-wrap;
    height: auto;
    background: red;
}

._1t_p {
    margin-bottom: 15px;
    position: relative;
}

.clearfix {
    zoom: 1;
}

@media (min-width: 1600px)
FtGL50QXkgX.css:1
.__i_ {
    font-size: 16px;
}

@media (min-width: 920px)
FtGL50QXkgX.css:1
.__i_ {
    font-size: 14px;
}

.uiScrollableAreaBody {
    direction: ltr;
    position: relative;
}

.uiScrollableArea {
    direction: ltr;
    height: 100%;
    overflow: hidden;
    position: relative;
}

._4sp8 {
    background-color: #fff;
    display: flex;
    font-size: 14px;
    min-width: 500px;
}

._2sdm {
    background-color: rgba(0, 0, 0, .05);
    -webkit-font-smoothing: antialiased;
}

._z4_ {
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    line-height: 1.28;
    overflow: auto;
    text-rendering: optimizeLegibility;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

#cch_f18635bad76a2._mh6._mh6 ::selection {
    background: rgba(250, 60, 76, 0.2);
}

._mh6 ::selection {
    background: rgba(0, 132, 255, .2);
}

._2sdm ::selection {
    background-color: rgba(0, 132, 255, .2);
}

._41ud {
    margin-left: 36px;
}

._ih3 {
    color: rgba(0, 0, 0, .40);
    font-size: 12px;
    font-weight: normal;
    line-height: 1.1;
    margin-bottom: 1px;
    overflow: hidden;
    padding-left: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._-ne {
    height: 0;
    opacity: 0;
}

._o46 {
    position: relative;
    white-space: pre-wrap;
}

.text_align_ltr {
    text-align: left;
}

.direction_ltr {
    direction: ltr;
}

._29_7:last-of-type ._3058._52mr:last-of-type, ._29_7:last-of-type ._3058._52mr:last-of-type ._4br2, ._29_7:last-of-type ._3058:last-of-type ._52mr, ._29_7:last-of-type ._3058:last-of-type ._52mr ._4br2 {
    border-bottom-left-radius: 1.3em;
}

._29_7:first-of-type ._3058._52mr:first-of-type, ._29_7:first-of-type ._3058._52mr:first-of-type ._mxz, ._29_7:first-of-type ._3058:first-of-type ._52mr, ._29_7:first-of-type ._3058:first-of-type ._52mr ._mxz {
    border-top-left-radius: 1.3em;
}

._hh7 {
    background-color: #f1f0f0;
    color: rgba(0, 0, 0, 1);
    margin: 1px 0;
    padding: 6px 12px;
}

._o46 ._3058 {
    clear: left;
    float: left;
    word-wrap: break-word;
}

._o46 ._3058 {
    clear: left;
    float: left;
    word-wrap: break-word;
}

._1t_q ._1t_r, ._1t_q ._4ldz, ._1t_q ._4ld-, ._1t_q ._4ld- img {
    max-height: 28px;
    max-width: 28px;
    border-radius: 50%;
}

._4ld- .img {
    object-fit: cover;
}

.sendmsg{
	width: 97%;
	border: none;
	height: inherit;
	padding: 20px;
}